
table thead tr td,
table tbody tr td {
border: 2px solid rgb(106, 42, 165);
}
thead{
    border:solid 1px; border-color:black;border-collapse:collapse;
}
button {
    display: inline-block;
    font-size: .825em;
     margin-top: 9px;
     text-decoration: none;
     font-weight: 800;
    margin-left: 14px;
    width:122px;
    height: 38px;
   padding: 0.35em 1em;
   background-color: rgb(13, 34, 34);
   background-image: linear-gradient(grey,rgb(52, 213, 235));
   border-radius: 3px;
  color: black;
  text-shadow: 0 1px 1px rgba(255,255,255,.7);
  box-shadow: 0 0 0 1px rgba(121, 226, 240, 0.2), 0 1px 2px rgba(26, 159, 163, 0.2), inset 0 1px 2px rgba(255,255,255,.7);
 }         
 
.buttonscontainer{
font-size: .825em;
      margin-top: 26px;
      display: flex;
      text-decoration: none;
      font-weight: 800;
     margin-left: 16px;
     width:223px;
     height: 67px;
    padding: 0.35em 1em;
    background-color: rgba(24, 26, 26, 0.103);
    background-image: linear-gradient(grey,rgb(68, 226, 173));
   border-radius: 3px;
   color: black;
   text-shadow: 0 1px 1px rgba(255,255,255,.7);
   box-shadow: 0 0 0 1px rgba(121, 226, 240, 0.2), 0 1px 2px rgba(57, 59, 59, 0.2), inset 0 1px 2px rgba(255,255,255,.7);
}
table, th, td {
    border: 1px solid #ddd;
    border-collapse: collapse;
    padding: 10px;
    }
    header{             
       padding: 10px 10px;
       border-bottom-style: solid;
       display: flex;
       justify-content: flex-end;
       }
             
    table { 
    margin: auto;
 } 
input {
width: 100%;
border: 5px solid white; 
-webkit-box-shadow: 
inset 0 0 8px  rgba(0,0,0,0.1),
    0 0 16px rgba(0,0,0,0.1); 
box-shadow: 
inset 0 0 8px  rgba(0,0,0,0.1),
    0 0 16px rgba(0,0,0,0.1); 
padding: 15px;
background: rgba(114, 107, 107, 0.247);
margin: 0 0 10px 0;
}
* {
box-sizing: content-box;
}
