
/* div {  
    box-sizing: border-box; 
    width: 100%; 
    border: 100px solid black; 
    float: left; 
    align-content: center; 
    align-items: center; 
}  */

input {
    width: 497%;
    border: 2px solid rgb(125, 126, 131); 
    -webkit-box-shadow: 
    inset 0 0 8px  white,
        0 0 16px white; 
    box-shadow: 
    inset 0 0 8px  white,
        0 0 16px white; 
    padding: 15px;
    background: gainsboro;
    margin: 0 0 10px 0;
    }
    * {
    box-sizing: content-box;
    }
  
  button {
        display: inline-block;
        font-size: .825em;
         margin-top: 9px;
         text-decoration: none;
         font-weight: 800;
         margin-left: 14px;
         width:150px;
         height: 38px;
         padding: 0.35em 1em;
         background-color: rgb(13, 34, 34);
         background-image: linear-gradient(grey,rgb(52, 213, 235));
         border-radius: 3px;
         color: rgb(245, 243, 243);
         text-shadow: 0 1px 1px rgba(255,255,255,.7);
         box-shadow: 0 0 0 1px rgba(121, 226, 240, 0.2), 0 1px 2px rgba(26, 159, 163, 0.2), inset 0 1px 2px rgba(255,255,255,.7);
     }         
         
   
form {                                         
        margin: 0 auto; 
        width: 600px;                                           
        margin-left: 70px; 
        font-weight: bold ; 
        float: left; 
        clear: left; 
        width: 100px; 
        text-align: left; 
        margin-right: 10px; 
        font-family:sans-serif,bold, Arial, Helvetica; 
        font-size:14px; 
        padding-left: 19%;
      
}
table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  table thead tr td {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgb(164, 178, 224);
    color: white;
    font-weight: 800;
  }
  
  table td {
    border: 2px solid rgb(79, 82, 78);
    padding: 8px;
    color: rgb(41, 55, 175);
  }
  
  table tr:nth-child(even){background-color: #7c4cee;}
  
  table tr:hover {background-color: rgb(253, 245, 246);}
  
  


/* table, th, td {
    border: 1px solid blueviolet;   
    margin-top:28%;
    margin-left: 24%;
  }
  
  table, th,td {
   color: crimson;
  }
  
  table thead tr td {
   color:olivedrab;   
  } */
  .header {
    padding: 4px;
    text-align: center;
    background: #1abc9c;
    color: white;
    font-size: 30px;
  }

  .butt {
    display: inline-block;
    font-size: .825em;
     margin-top: 9px;
     text-decoration: none;
     font-weight: 800;
     margin-left: 14px;
     width:200px;
     height: 38px;
     padding: 2px 110px 2px 73px;
     background-color: rgb(13, 34, 34);
     background-image: linear-gradient(grey,rgb(52, 213, 235));
     border-radius: 3px;
     color: black;
     text-shadow: 0 1px 1px rgba(255,255,255,.7);
     box-shadow: 0 0 0 1px rgba(121, 226, 240, 0.2), 0 1px 2px rgba(26, 159, 163, 0.2), inset 0 1px 2px rgba(255,255,255,.7);
 }         

 h1{
     margin-left: -172px;
 }


 .logoutbutton {
     display: inline-block;
     position:fixed;
     right:10px;
     top:5px;
     font-size: 16px;
     margin-top: 9px;
     text-decoration: none;
     font-weight: 2px;
     margin-left: 14px;
     width:4px;
     height: 38px;
     padding: 2px 88px 1px 39px;
     background-color: rgb(218, 230, 230);
     background-image: linear-gradient(rgb(253, 251, 251),rgb(197, 209, 211));
     border-radius: 3px;
     color: black;
     /* text-shadow: 0 1px 1px rgba(255,255,255,.7);
     box-shadow: 0 0 0 1px rgba(121, 226, 240, 0.2), 0 1px 2px rgba(26, 159, 163, 0.2), inset 0 1px 2px rgba(255,255,255,.7); */
 }         