input {
    width: 497%;
    border: 1px solid rgb(71, 68, 68); 
    -webkit-box-shadow: 
    inset 0 0 8px  rgba(226, 237, 238, 0.1),
        0 0 16px rgba(248, 233, 233, 0.1); 
    box-shadow: 
    inset 0 0 8px  rgba(0,0,0,0.1),
        0 0 16px rgba(0,0,0,0.1); 
    padding: 15px;
    background:white;
    margin: 0 0 10px 0;
    }
    * {
    box-sizing: content-box;
    }
  
    button {
        display: inline-block;
        font-size: .825em;
        margin-top: 9px;
        text-decoration: none;
         font-weight: 800;
         margin-left: 14px;
         width:150px;
         height: 47px;
         padding: 0.35em 1em;
         background-color: rgb(13, 34, 34);
         background-image: linear-gradient(grey,rgb(52, 213, 235));
         border-radius: 3px;
         color: black;
         text-shadow: 0 1px 1px rgba(255,255,255,.7);
         box-shadow: 0 0 0 1px rgba(121, 226, 240, 0.2), 0 1px 2px rgba(26, 159, 163, 0.2), inset 0 1px 2px rgba(255,255,255,.7);
     }         
         
  body{
      background-color: rgb(234, 243, 240);
  }
  
  input,select {
      width: 40%;
      padding: 10px;
      margin: 10px ;
      align-items: flex-end;
      
  }
  #headingID
  {
      color:rgb(23, 2, 26);
      font-style:inherit;
      
  }
  
  
  * {
      box-sizing: border-box;
  }

  table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  table thead tr td {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgb(164, 178, 224);
    color: white;
    font-weight: 800;
  }
  
  table td {
    border: 4px solid rgb(79, 82, 78);
    padding: 8px;
    color: rgb(81, 96, 231);
  }
  
  table tr:nth-child(even){background-color: #d7ceec;}
  
  table tr:hover {background-color: rgb(253, 245, 246);}
  

  h2{
  padding: 25px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 30px;
  }