.box{
	width:485px;
	height:223px;
	background :rgb(114, 113, 113);
	 margin:1px; 
	box-sizing: border-box;	
	font-style: normal;
  font-display: white;	
  text-align: -webkit-center;
  position: relative;
 
}
.bottom {
  position: absolute;
  bottom: 35px;
  left: 25px;
}
#header {
  background-color: #e0dbd6;
  border: 1px solid rgb(202, 195, 195);
}

.container{
	/* float:left; */
	width:147%;
	background-color: rgb(139, 138, 138);		
	display: flex;
	flex-direction: column;	
  flex-flow:wrap; 
}

.box .circle {
  border: 0px  solid  #363636 ;
  background-color:rgb(226, 238, 243);
  width: 200px;
  height: 200px;
  border-radius: 1000px; 
  margin: 0.5em;
}
#footer {
  background-color: #252423;  
  border: 1px solid black;              
}

.circle.imgm { 
  background-image: url('../Images/man2.PNG');
  background-size: cover;
  background-repeat: none;
  background-position: center center;
  text-align-last: center;
  color: white;
}

.circle.imgf { 
  background-image: url('../Images/businesswoman.png');
  background-size: cover;
  background-repeat: none;
  background-position: center center;
  color: white;
}

.box:hover {
  background-color: rgb(91, 91, 122); 
}

#footer{
	clear:both;
	height: 50px;
	width: 100%;
	text-align: center;
	background-color: rgb(197, 197, 248);
	font-weight: bold ; 
	display: flex; 
    align-items: center;	  
}
 
.imgAttr{
  width:29px;
  height:20px;
  fill: #000;
  /* filter: grayscale(100%); */
  -webkit-filter: hue-rotate(180deg);
  filter: invert(99%) sepia(97%) saturate(11%) hue-rotate(212deg) brightness(104%) contrast(100%);
}
