<h1>Selected Users</h1>
<ng-container *ngIf="selectedStudentData;else elseTemplate">
    <app-users [student]="selectedStudentData"></app-users>
</ng-container>
<ng-template #elseTemplate>
    <p> No Data found</p>
</ng-template>

<hr/>

<h1>List of available Users</h1>
<p *ngFor="let student of students; trackBy:trackByStudentId">
    <app-users [student]="student" (selectedStudent)="onSelect($event)" (deleteStudent)="deleteStudent()"></app-users>
    <!-- <app-users [student]="student" (clearSelectedStudent)="onClearSelect($event)"></app-users> -->

<!-- <span>{{student.id}} , {{student.firstName}} {{student.lastName}} {{student.studentId}}
    {{student.address}}   {{student.mobile}} {{student.emailId}}
    
</span> -->
</p>