
<table>
   
    <tr>
        <td>ID</td>
        <td>firstName</td>
        <td>last Name</td>
        <td>student Id</td>
        <td>address</td>
        <td>mobile</td>
        <td>emailId</td>
        <td>Action</td>
    </tr>
    <tr>
        <td>{{studentObj.id }}</td>
        <td>{{studentObj.firstName}} </td>
        <td>{{studentObj.lastName}}</td>
        <td>{{studentObj.studentId}}</td>
        <td> {{studentObj.address}} </td>
        <td> {{studentObj.mobile}} </td>
        <td> {{studentObj.emailId}} </td>
        <td><button (click)="onSelect(studentObj)">Select Student</button></td>
    </tr>
    <!-- <span>{{studentObj.id | number | number 0.1 }}
      {{studentObj.firstName}} 
      {{studentObj.lastName}} {{studentObj.studentId}}
    {{studentObj.address}}   {{studentObj.mobile}} {{studentObj.emailId}} -->
   
    <!-- <button (click)="onClearSelect()">Delete</button> -->
    <!-- </span> -->
 
</table>
