#header{
	background-color: rgb(106, 137, 230);
	width:98%;
	height:98px;
	text-align: left;
	border-top:10px;
}

#sidebar-left{
	float:left;
	width:16%;
	height:85%;
	background-color: rgb(106, 137, 230);
}

#main{
	float:left;
	width:77%;
	background-color: white;
	/* flex */border-top-style: hidden;	
	padding:1% 1% 23% 3%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	flex-flow:wrap
}

#sidebar-right{
	float:left;
	width:35%;
	background-color:  royalblue;	
}

#footer{
	clear:both;
	height: 50px;
	width: 115%;
	text-align: center;
	background-color: rgb(197, 197, 248);
	font-weight: bold ; 
	display: flex; 
    align-items: center;	
    margin-left: -4%;
    margin-right: -1%;  
}
div.h3{
	padding-left: 2px;
}
#sidebar-left, #main, #sidebar-right{
	min-height: 535px;	
	padding-bottom: 3%;			
}
div{
border-style: outset;
border-width:thin;
border-color: rgb(212, 212, 212) ;
}

@media screen and (max-width:1200px){
	.box{
		width:100%;
	}
}
@media screen and (max-width:600px){
	.box{
		width:90%;
	}
} 

 #box {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	/* justify-content: space-around; */
	flex-flow:wrap;
	width: 111%;
	padding-bottom: 2%;
	background: white;
	color: #FFF;
	position: relative;
	box-shadow: 5px 10px;
 }
 
 
 .imgAttrib{
	 width:230px;
	 height:148px;
 }
.butt {
	font-size: .825em;
	margin-top: 26px;
    text-decoration: none;
	font-weight: 985;
	font-family: sans-serif;
	margin-left: 16px;
	width:148px;
	height: 43px;
    padding: 0.35em 1em;
    background-color:rgb(106, 137, 230);
	background-image: linear-gradient(white,gray);
	text-shadow: 20px 20px #ff0000;	
    border-radius: 3px;
    color: rgba(0,0,0,.6);
    text-shadow: 0 1px 1px rgba(255,255,255,.7);
    box-shadow: 0 0 0 1px rgba(0,0,0,.2), 0 1px 2px rgba(0,0,0,.2), inset 0 1px 2px rgba(255,255,255,.7);
}
a  {
	color:whitesmoke;
	line-height: 57px;

}

.boxcolor{
	color: white;
}


.headerloginbtn{
	height: 36px;
	width: 238px;
	float: right;
	margin-top: 35px;
	margin-right: 123px;
	background-color: rgb(106, 137, 230);
	color: honeydew;
	font-weight: bold;
	border-color: gray;
}

#main #box{ 
	display:block;
}

#cart:hover{
	background-image: linear-gradient(white,white);
}

.explorebutton{
    float:right;
    height: 36px;
    width: 238px;
    margin-right: 3%;
    margin-left: 5px;
    margin-top: 100px;
    background-color: white;
    color: rgb(51, 16, 145);
    border-color: lightgray;
    font-weight:985;
    font-family: serif;
    font-size: .825em;
}

