body{
    background-color:#a8c3f5;
}
h1{
    text-align: center;
    font-size: 30px;
    color:white;
    margin-bottom: 6px;
}
form{
    margin:1px auto;
    width:320px;
    
}
input,select{
    padding :5px;
    /* 
    font-size: inherit; */
    width:300px;
}
input,select[type="text"]{
    display:block;
    margin-bottom: 5px;
    /* width: 100px; */
    border:2px solid slategray
}
input[type="number"]{
    display:block;
    margin-bottom: 5px;
    /* width: 100px; */
    border:2px solid slategray
}
  input[type="submit"]{
    width:114px;
    height: 30px;
    margin-top: 50px;
    border: none;
    background:rgb(108, 125, 238);
    color: white;
    font: 1em sans-serif;
    margin-left: 15px;
    text-decoration: none;
    box-shadow: 3px 3px 8px 0 #000;
    font-weight: bold;
 }
 input[type="reset" ]{
    width:114px;
    height: 30px;   
    border: none;
    background:gray;
    color: white;
    font: 1em sans-serif;
    float: right;
    margin-top: -34px;
    margin-right: 65px;
    box-shadow: 3px 3px 8px 0 #000;
    font-weight: bold;
 }  
 /* ::-webkit-input-placeholder  {    
    font-weight: bold;
    
}   */
 
    