table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  table thead tr td {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgb(164, 178, 224);
    color: white;
    font-weight: 800;
  }
  
  table td {
    border: 4px solid rgb(79, 82, 78);
    padding: 8px;
    color: rgb(73, 88, 48);
  }
  
  table tr:nth-child(even){background-color: #d7ceec;}
  
  table tr:hover {background-color: rgb(253, 245, 246);}
   button {
        display: inline-block;
        font-size: .825em;
         margin-top: 9px;
         text-decoration: none;
         font-weight: 800;
         margin-left: 14px;
         width:200px;
         height: 47px;
         padding: 2px 110px 2px 73px;
         background-color: rgb(13, 34, 34);
         background-image: linear-gradient(grey,rgb(52, 213, 235));
         border-radius: 3px;
         color: black;
         text-shadow: 0 1px 1px rgba(255,255,255,.7);
         box-shadow: 0 0 0 1px rgba(121, 226, 240, 0.2), 0 1px 2px rgba(26, 159, 163, 0.2), inset 0 1px 2px rgba(255,255,255,.7);
     }    
     .btnhome{     
        display: inline-block;
        font-size: .825em;
         margin-top: 9px;
         text-decoration: none;
         font-weight: 800;
         margin-left: 14px;
         width:200px;
         height: 38px;
         padding: 2px 110px 2px 73px;
         background-color: rgb(13, 34, 34);
         background-image: linear-gradient(grey,rgb(52, 213, 235));
         border-radius: 3px;
         color: black;
         text-shadow: 0 1px 1px rgba(255,255,255,.7);
         box-shadow: 0 0 0 1px rgba(121, 226, 240, 0.2), 0 1px 2px rgba(26, 159, 163, 0.2), inset 0 1px 2px rgba(255,255,255,.7);
     }  
     
     .header {
        padding: 4px;
        text-align: center;
        background: #1abc9c;
        color: white;
        font-size: 30px;
      }
    
    
     h1{
        margin-left: -172px;
    }
         