#header{
	background-color: rgb(106, 137, 230);
	width:98%;
	height:98px;
	text-align: left;
	border-top:10px;
}

#sidebar-left{
	float:left;
	width:16%;
	height:85%;
	background-color: rgb(173, 182, 209);
}
input {
	display: inline-block;
	font-size: .825em;
	margin-top: 9px;
	text-decoration: none;
	 font-weight: 800;
	 margin-left: 14px;
	 width:150px;
	 height: 47px;
	 padding: 0.35em 1em;
	 background-color: rgb(63, 21, 21);
	 background-image: linear-gradient(rgb(215, 229, 233),rgb(29, 150, 75));
	 border-radius: 3px;
	 color: black;
	 text-shadow: 0 1px 1px rgba(255,255,255,.7);
	 box-shadow: 0 0 0 1px rgba(71, 85, 31, 0.2), 0 1px 2px rgba(26, 159, 163, 0.2), inset 0 1px 2px rgba(255,255,255,.7);
}  

#main{
	float:left;
	width:77%;
	background-color: white;
	/* flex */border-top-style: hidden;	
	padding:1% 1% 23% 3%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-flow:wrap
}

#sidebar-right{
	float:left;
	width:35%;
	background-color:  rgb(221, 226, 197);	
}

#footer{
	clear:both;
	height: 50px;
	width: 98%;
	text-align: center;
	background-color: rgb(197, 197, 248);
	font-weight: bold ; 
	display: flex; 
    align-items: center;	  
}
div.h3{
	padding-left: 2px;
}
#sidebar-left, #main, #sidebar-right{
	min-height: 535px;	
	padding-bottom: 3%;			
}
div{
border-style: groove;
border-color: rgb(206, 204, 204) ;
}

@media screen and (max-width:1200px){
	.box{
		width:100%;
	}
}
@media screen and (max-width:600px){
	.box{
		width:90%;
	}
} 

 #box {
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	/* justify-content: space-around; */
	flex-flow:wrap;
	width: 25%;
	padding-bottom: 2%;
	background: #00BFFF;
	color: #FFF;
	position: relative;
	box-shadow: 5px 10px;
 }
 #innerContent {
	position: absolute;
	left: 10px;
	right: 10px;
	top: 10px;
	bottom: 10px;
	background: #66F;
 }
 .imgAttrib{
	 width:230px;
	 height:148px;
 }
.butt {
	font-size: .825em;
	margin-top: 26px;
    text-decoration: none;
	font-weight: 985;
	font-family: sans-serif;
	margin-left: 16px;
	width:148px;
	height: 43px;
    padding: 0.35em 1em;
    background-color:rgb(106, 137, 230);
	background-image: linear-gradient(white,gray);
	text-shadow: 20px 20px #ff0000;	
    border-radius: 3px;
    color: rgba(0,0,0,.6);
    text-shadow: 0 1px 1px rgba(255,255,255,.7);
    box-shadow: 0 0 0 1px rgba(0,0,0,.2), 0 1px 2px rgba(0,0,0,.2), inset 0 1px 2px rgba(255,255,255,.7);
}
a  {
	color:whitesmoke;
	line-height: 57px;

}

.boxcolor{
	color: white;
}


.headerloginbtn{
	height: 36px;
	width: 238px;
	float: right;
	margin-top: 35px;
	margin-right: 123px;
	background-color: rgb(106, 137, 230);
	color: honeydew;
	font-weight: bold;
	border-color: gray;
}
#logo{
	
	top:0;
	left:0;
}
#main #box{ 
	display:block;
}

#list:hover{
	background-image: linear-gradient(white,white);
}

h1 { color: #d1df0e; font-family: 'Trocchi', serif; font-size: 45px; font-weight: normal; line-height: 48px; margin: 0; }