
div {  
    box-sizing: border-box; 
    width: 100%; 
    border: 100px solid black; 
    float: left; 
    align-content: center; 
    align-items: center; 
} 
/* input {
    width: 497%;
    border: 5px solid white; 
    -webkit-box-shadow: 
    inset 0 0 8px  rgba(0,0,0,0.1),
        0 0 16px rgba(0,0,0,0.1); 
    box-shadow: 
    inset 0 0 8px  rgba(0,0,0,0.1),
        0 0 16px rgba(0,0,0,0.1); 
    padding: 15px;
    background: rgba(114, 107, 107, 0.247);
    margin: 0 0 10px 0;
    }
    * {
    box-sizing: content-box;
    } */
   
  
    .butt {
        display: inline-block;
        font-size: .825em;
         margin-top: 9px;
         text-decoration: none;
         font-weight: 800;
         margin-left: 14px;
         width:200px;
         height: 38px;
         padding: 2px 110px 2px 73px;
         background-color: rgb(13, 34, 34);
         background-image: linear-gradient(grey,rgb(52, 213, 235));
         border-radius: 3px;
         color: black;
         text-shadow: 0 1px 1px rgba(255,255,255,.7);
         box-shadow: 0 0 0 1px rgba(121, 226, 240, 0.2), 0 1px 2px rgba(26, 159, 163, 0.2), inset 0 1px 2px rgba(255,255,255,.7);
     }         
         
   
form {                                         
    margin: 0 auto; 
    width: 600px; 
                                          
        margin-left: 70px; 
        font-weight: bold ; 
        float: left; 
        clear: left; 
        width: 100px; 
        text-align: left; 
        margin-right: 10px; 
        font-family:sans-serif,bold, Arial, Helvetica; 
        font-size:14px; 
        padding-left: 19%;
  
       
}

/* table thead tr td,
table tbody tr td {
border: 2px solid rgb(106, 42, 165);
border-top: 100px;
}
thead{
    border:solid 1px; border-color:black;border-collapse:collapse;
    display: inline-block;
    position: relative;
} */
table, th, td {
    border: 1px solid blueviolet;   
    margin-top:28%;
    margin-left: 24%;
  }
  
  table, th,td {
   color: crimson;
  }
  
  table thead tr td {
   color:olivedrab;
   /* position: absolute;
    bottom: 9em;
    width:100% */
  }


  input {
    width: 497%;
    border: 3px solid rgb(156, 154, 154); 
    -webkit-box-shadow: 
    inset 0 0 8px  rgba(230, 227, 227, 0.1),
        0 0 16px rgba(238, 236, 236, 0.1); 
    box-shadow: 
    inset 0 0 8px  rgba(243, 239, 239, 0.1),
        0 0 16px rgba(0,0,0,0.1); 
    padding: 15px;
    background: rgba(234, 248, 248, 0.247);
    margin: 0 0 10px 0;
    }
    * {
    box-sizing: content-box;
    }
    
  label{
    color: rgb(19, 20, 20);
    font-size: 13px;
  }

  select{
    background-color: rgba(67, 103, 112, 0.247);
    color: rgb(15, 49, 12);
    padding: 5px;
    width: 150px;
    border: 1px solid black;
    font-size: 15px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    -webkit-appearance: button;
    appearance: button;
    outline: none;
  }

  